/* General styles */
body {
    background: linear-gradient(rgb(118, 178, 218), rgb(244, 126, 126));
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.beautiful-heading {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

/* Button styles */
button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: #d04444;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Gallery Styles */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjusted gap for spacing */
    max-width: 90%; /* Ensures gallery fits within the screen */
    margin-bottom: 20px; /* Adds space below the gallery */
}

#gallery img {
    width: 150px; /* Adjusted size for images */
    height: 150px; /* Adjusted size for images */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


/* Video Styles */
#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
}

.video-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}